.pagination {
  display: none;
}

@media (max-width: $mobile-width) {
  .pagination {
    position: absolute;

    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

    list-style: none;
  }

  .pagination__item {
    margin: 0 6px;
  }

  .pagination__button {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
    border: none;

    border-radius: 50%;
    background: #d8d8d8;

    &--active {
      background: #5c37b2;
    }
  }
}