.social {

}

.social__item {
  margin: 0 20px;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.social__link {
  display: block;

  background-image: url('../img/sprite.png');
  transition: all 0.2s linear;

  &--facebook {
    background-position: -69px 0;
    width: 15px;
    height: 27px;
  }

  &--twitter {
    background-position: -24px -39px;
    width: 27px;
    height: 22px;
  }

  &--instagram {
    background-position: 0 -39px;
    width: 24px;
    height: 25px;
  }

  &:hover {
    transform: scale(1.2);
  }
}

@media (max-width: $mobile-width) {
  .social__link {
    &--facebook {
      background-position: -69px -44px;
      width: 10px;
      height: 18px;
    }

    &--twitter {
      background-position: -16px -64px;
      width: 18px;
      height: 15px;
    }

    &--instagram {
      background-position: -51px -39px;
      width: 17px;
      height: 17px;
    }
  }
}